<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Section</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="news-container">
        <div class="news-grid">
            <a href="/article" style="text-decoration: none;"><div class="news-card-about">
                <div class="video-thumbnail">
                    <img src="/images/news.jpg" alt="News Video">
                    <span class="play-icon">▶</span>
                </div>
                <p class="category turkey">Turkey</p>
                <h3>Pedestrian killed after being hit by motorcyclist fleeing stray dogs</h3>
            </div></a>
            
            <a href="/article" style="text-decoration: none;"><div class="news-card-about">
                <div class="video-thumbnail">
                    <img src="/images/news.jpg" alt="News Video">
                    <span class="play-icon">▶</span>
                </div>
                <p class="category turkey">Turkey</p>
                <h3>Pedestrian killed after being hit by motorcyclist fleeing stray dogs</h3>
            </div></a>
            <a href="/article" style="text-decoration: none;"><div class="news-card-about">
                <div class="video-thumbnail">
                    <img src="/images/news.jpg" alt="News Video">
                    <span class="play-icon">▶</span>
                </div>
                <p class="category turkey">Turkey</p>
                <h3>Pedestrian killed after being hit by motorcyclist fleeing stray dogs</h3>
            </div></a>
            
            <a href="/article" style="text-decoration: none;">
                <div class="news-card-about">
                <img src="/images/news.jpg" alt="News Image">
                <p class="category world">World</p>
                <h3>U.S. soldiers missing in exercise found dead</h3>
            </div>
        </a>
            
        </div>
        
        <!-- <div class="ticker">
            <div class="ticker-item">📊 SENSEX 65678.48 <span class="up">▲0.48</span></div>
            <div class="ticker-item">💶 EURO 97.077 <span class="up">▲0.09</span></div>
            <div class="ticker-item">💵 DOLLAR 87.95 <span class="up">▲0.01</span></div>
            <div class="ticker-item">🥇 GOLD 73002.168 <span class="up">▲0.3</span></div>
        </div> -->
    </div>
</body>
</html>
